.input {
  display: block;
  margin: 0 auto;
  width: 260px;
  padding: 15px;
  border-radius: 20px;
  outline: transparent;
  background-color: #8b949e;
  color: #ffffff;
  border: 1px solid #30363d;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.22),
    0 10px 13px 0px rgba(0, 0, 0, 0.34);
}

.input::placeholder {
  color: #ffffff;
}

.input:focus {
  border: 1px solid #c9d1d9;
}
