.form {
  margin: 0 auto;
  border-radius: 5px;
  width: 250px;
  min-height: 150px;
  padding: 20px;
  background-color: #21262d;
}

.label {
  display: flex;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: #ffffff;
}

.input {
  width: 230px;
  outline: transparent;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #30363d;
  background-color: #8b949e;
}

.input:focus {
  border: 1px solid #c9d1d9;
}

.button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  max-width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: #5b5e63;
  transition: border-color 250ms linear, color 250ms linear;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #6e7681;
}

.button:hover {
  border-color: #ffffff;
}

.switcherWrapper {
  display: flex;
  width: 250px;
  margin-bottom: 10px;
}

.switcher {
  text-align: center;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: #5b5e63;
  border: 2px solid #6e7681;
  transition: border-color 250ms linear, color 250ms linear;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.switcher:not(:last-child) {
  margin-right: 5px;
}

.switcher:hover {
  border-color: #ffffff;
}

.activeSwitcher {
  composes: switcher;
  background-color: #8b949e;
}

.activeSwitcher:hover {
  border-color: #6e7681;
}
