.list {
  margin: 0 auto;
  list-style: none;
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid #30363d;
  border-radius: 3px;
  padding: 8px;
  width: 700px;
  margin-top: 20px;
}

.item {
  padding: 10px;
  border: 1px solid #30363d;
  border-radius: 8px;
  display: flex;
  align-items: baseline;
  background-color: #21262d;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.22),
    0 10px 13px 0px rgba(0, 0, 0, 0.34);
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.details {
  margin-right: 10px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 600;
}

.element {
  display: inline-block;
  min-width: 100px;
  color: #c9d1d9;
}

.element:not(:last-child) {
  margin-right: 50px;
}

.button {
  min-width: 100px;
  min-height: 30px;

  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  color: #ffffff;
  background-color: #da3633;
  transition: background-color 250ms linear;

  text-transform: capitalize;
  font-weight: 600;
  border: transparent;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.22),
    0 10px 13px 0px rgba(0, 0, 0, 0.34);
}

.button:hover {
  background-color: #f85149;
}

.editBtn {
  composes: button;
  margin-left: auto;
  margin-right: 10px;
  background-color: #1f6feb;
}

.editBtn:hover {
  background-color: #4492ec;
}
